.stx-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #6600FF;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 6px 12px;
}